@mixin flex($alignin-item, $justify-content) {
  display: flex;
  align-items: $alignin-item;
  justify-content: $justify-content;
}

@mixin overlay {
  background-color: rgba($color: #000000, $alpha: 0.6);
}