.text-field {
  color: #fff;
  margin-bottom: 0.5rem;
  width: 100%;

  &__label {
    margin-bottom: 0.2rem;
    font-size: 0.8rem;
  }

  &__input {
    width: 100%;
    outline: none;
    border: none;
    border-radius: 0.2rem;
    padding: 0.8rem;
    font-size: 1rem;

  }
}

.text-field > * {
  display: block;
}