@use "./scss/" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5rem;
  background-color: #132A47;
  color: #fff;
}

a {
  text-decoration: none;
  color: unset;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.container {
  max-width: 1420px;
  margin: auto;
  padding: 0 1rem;
}

.row {
  display: flex;
  margin-right: -8px;
  margin-left: -8px;
}

.col {
  padding-left: 8px;
  padding-right: 8px;
}

.col-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.mt-1 {
  margin-top: 1rem;
}

.w100 {
  width: 100%;
}